<html>
      <head>
         <p>Password Manager</p>
         <form action = "http://localhost:5000/login" method = "POST">
            <p>Username <input type = "text" name = "Username"  required/></p>
            <p>Password <input type = "password" name = "Password" required/></p>
            <p><input type = "submit" name = "submit" value = "Submit" /></p>
         </form>
         <form action = "http://localhost:5000/create">
            <p><input type = "submit" name = "createAccount" value = "Create a New Account" /></p>
         </form>
      <head>
</html>